@use "sass:color";
@use "./config";

@mixin hoverable($color, $percent:30%) {
	background-color: $color;
	&:hover {
		background-color: color.scale($color, $lightness: $percent);
	}
}

@mixin border($thick:false) {
	aspect-ratio: 1/1;

	$size: 1px;
	@if $thick == true {
		$size: 5px;
	}
	border: $size solid config.$secondary-color;
}

@mixin token {
	border-radius: 10%;
	font-size: 4em;

	// Center text vertically
	display: flex;
	justify-content: center;
	align-items: center;
}