@use "sass:color";
@use "./config" as cfg;
@use "./utilities";

body {
	background-color: cfg.$background-color;
	margin: 1em;
}

main {
	display: flex;
	justify-content: space-around;
	align-items: center;

	margin: 1rem;
}

#box {
	display: grid;
	
	@include utilities.border;
}

.grid {
	width: 200px;
	margin: auto;

	@include utilities.hoverable(cfg.$primary-color);
	@include utilities.border;
}

#clues {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	@include utilities.border;
}

.clue {
	flex-shrink: 1;
	margin: 1rem;

	display: grid;
}

.clueToken {
	box-sizing: border-box;
	width: 100px;
	margin: auto;

	@include utilities.token(false);
	@include utilities.border($thick:true);
}

#token-tray {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	min-height: 100px;
	padding: 25px;

	@include utilities.hoverable(cfg.$secondary-color)
}

.token {
	min-width: 100px;

	@include utilities.border($thick: true);
	@include utilities.token;
}

.dragging {
	position: absolute;
}