@use "sass:color";
@use "./config" as cfg;
@use "./utilities";

body {
	background-color: cfg.$background-color;
	margin: 1em;
}

main {
	display: flex;
	justify-content: space-around;

	margin: 1rem;
}

#clues {
	width: 50%;
}

#box {
	aspect-ratio: 1/1;
	display: grid;
	border: 1px solid cfg.$secondary-color;
}

.grid {
	width: 200px;
	margin: auto;
	aspect-ratio: 1 / 1;
	border: 1px solid cfg.$secondary-color;

	@include utilities.hoverable(cfg.$primary-color, 30%)
}

