@use "sass:color";
@use "./config" as cfg;
@use "./utilities";

body {
	background-color: cfg.$background-color;
	margin: 1em;
}

main {
	display: flex;
	justify-content: space-around;

	margin: 1rem;
}

#clues {
	width: 50%;
}

#box {
	aspect-ratio: 1 / 1;
	display: grid;
	
	@include utilities.border;
}

.grid {
	width: 200px;
	margin: auto;

	@include utilities.square;
	@include utilities.hoverable(cfg.$primary-color, 30%);
	@include utilities.border;
}

#clues {
	display: flex;
	flex-wrap: wrap;
	@include utilities.border;
}

.clue {
	flex-shrink: 1;
	margin: 1rem;

	display: grid;
	@include utilities.square;
}

.clueToken {
	box-sizing: border-box;
	width: 100px;
	margin: auto;
	
	background-color: cfg.$primary-color;
	border-radius: 10%;

	text-align: center;
	font-size: 4rem;

	@include utilities.square;
	@include utilities.border($thick:true);
}
