/* CSS HEX */
:root {
	--celadon: #a1e8afff;
	--dark-sea-green: #94c595ff;
	--lavender-blush: #f9e7e7ff;
	--old-burgundy: #4f3130ff;
	--catawba: #753742ff;

	--mouse-x: 0px;
	--mouse-y: 0px
}

/* * * * * * * * * * * 
	General
* * * * * * * * * * */
body {
	background-color: var(--lavender-blush);
	margin: 1em;
}

main {
	display: flex;
	justify-content: space-around;

	margin: 1rem;
}

#clues {
	width: 50%;
}

/* * * * * * * * * * * 
	Puzzle
* * * * * * * * * * */
#box {
	/* width: 650px; */
	aspect-ratio: 1/1;
	display: grid;
	border: 1px solid var(--old-burgundy);
}

.grid {
	width: 200px;
	margin: auto;
	aspect-ratio: 1 / 1;
	border: 1px solid var(--old-burgundy);

	background-color: var(--dark-sea-green);
}

.grid:hover {
	background-color: var(--celadon);
}

/* * * * * * * * * * * 
	Tokens
* * * * * * * * * * */
#token-tray {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	min-height: 100px;
	padding: 25px;

	background-color: var(--old-burgundy);
}

#token-tray:hover {
	background-color: var(--catawba);
}

.token {
	min-width: 100px;
	aspect-ratio: 1 / 1;
	
	border: 5px solid var(--old-burgundy);
	background-color: var(--dark-sea-green);
	border-radius: 10%;

	text-align: center;
	font-size: 5em
}

.token:hover {
	background-color: var(--celadon);
}

/* * * * * * * * * * * 
	Dragging
* * * * * * * * * * */
.dragging {
	position: absolute;
}