/* CSS HEX */
:root {
	--celadon: #a1e8afff;
	--dark-sea-green: #94c595ff;
	--lavender-blush: #f9e7e7ff;
	--old-burgundy: #4f3130ff;
	--catawba: #753742ff;
}

body {
	background-color: var(--lavender-blush);
}

* {
	border: 1px solid var(--old-burgundy);
}

#box {
	width: 50%;
	margin: auto;
	display: grid;
}

.grid {
	width: 100%;
	aspect-ratio: 1 / 1;
}